<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<section class="todoapp">
  <header class="header">
    <h1>To-Do's</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be done?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">
      <!-- this is the HTML representation of the li elements being built in the block below -->
      <!-- <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Do Laundry</label>
        </div>
      </li> -->
    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Nick Kuhn.", "https://github.com/Nick-Kuhn88" %>
</section>
